/*  ============= WEB BROWSER RESETS ============ */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden;
}

/*  ============= Header ============ */

.header-block {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header-bg-media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.header-bg-media img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  filter: brightness(50%);
}

.profile-image,
.header-right-container {
  z-index: 2;
}

.profile-image {
  max-width: 550px;
  text-align: center;
  margin-block: auto;
}

.profile-image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.header-right-container {
  max-width: 900px;
  text-align: center;
  margin-block: auto;
}

.header-block h1 {
  font-size: calc(58px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 18px;
  line-height: 1.2;
  color: #ddd;
}

.header-block h2 {
  font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (1140 - 320)));
  line-height: 1.2;
  color: #ddd;
  font-weight: bold;
}

.header-block h3 {
  font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1140 - 320)));
  line-height: 1.2;
  margin: 50px;
  color: #ddd;
  font-weight: lighter;
}

.header-btn {
  cursor: pointer;
  color: #ddd;
  border-radius: 10px;
  border: 2px solid #ddd;
  font-size: calc(18px + (19 - 18) * ((100vw - 320px) / (1920 - 320)));
  text-decoration: none;
  font-weight: bold;
  font-family: var(--sans-serif);
  padding: 1% 3%;
  transition: all 0.3s linear;
}

.header-btn:hover {
  background-color: #ddd;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .header-right-container {
    margin-block: 0;
  }

  .profile-image img {
    width: 250px;
    height: 250px;
  }

  .header-block h1 {
    margin-bottom: 8px;
  }

  .header-block h3 {
    margin: 26px 16px;
  }
}
